anyio==3.5.0
appdirs==1.4.4
asgiref==3.5.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cssselect2==0.5.0
fastapi==0.75.0
fonttools==4.31.2
h11==0.12.0
html5lib==1.1
httpcore==0.14.7
httptools==0.4.0
httpx==0.22.0
idna==3.3
importlib-metadata==4.11.3
pdfgen==1.0.5
pdfkit==1.0.0
Pillow==9.0.1
pycparser==2.21
pydantic==1.9.0
pydyf==0.1.2
pyee==8.2.2
PyPDF2==1.26.0
python==3.9.0
pyphen==0.12.0
pyppeteer==0.2.6
python-dotenv==0.20.0
python-multipart==0.0.5
PyYAML==6.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
syncasync==20180812
tinycss2==1.1.1
tqdm==4.63.1
typing-extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.1
weasyprint==54.2
webencodings==0.5.1
websockets==9.1
zipp==3.7.0
zopfli==0.2.1